html,body,a,h2,h1,h3
{
	margin: 0px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

h2
{
  text-align: center;
  color: #ccc;
  font-family: 'montserrat'; /* choose better */ 
  width: 80%;
  margin: 20px auto;
  font-size: 3em;
}

h5
{
    margin: 20px auto;
  width: 80%;
text-align: center;
color: #aaa;
/* font family */

}
.top
{
	margin-top: 0px;
  background-position: 0px 0px;
  height: 400px;
  background-size: cover;
}


#menubar{
  height: 90px;
    background-color: #373737;
    /* position: relative;*/
    z-index: 200;
    width: 100%;
    color: #34495E;
    /*transition: top 0.3s ease-in;*/
    display: inline-block;

    opacity: 1;
   /*transition: 0.3s ease-in;*/
    font-family: 'montserrat';
    font-size: 15px;

}

#menubar a {
    float: left;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 35px 10px;

}
#menubar a:hover{
    transition: 0.3s ease-in;
    color: #48e0a4;
}
#countdown
{
	 height: 100px;
    background: #283747;
    text-align: center;
    background: #373737;
    color: white;
    font-size: 40px;
    color: white;
}
#dates
{
padding: 30px;
padding-top: 50px;
}
#contact
{
  color: #00bcf2;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
/*.stylechange{
    animation-name:opac;
    /* -webkit-animation-name:poschan;*/
     /*animation-name:poschan;
    animation-duration:7s;
    -webkit-animation-name:opac;
    -webkit-animation-duration:7s;
}
@-webkit-keyframes opac{
    from {opacity: 0.1;}
    to {opacity: 1;}
}
@keyframes opac{
    from {opacity: 0.1;}
    to {opacity: 1;}
}
.poschange
{
  display: block;
  position: relative;
  -webkit-animation-name:poschan;
  -webkit-animation-duration:4s;
  animation-name:poschan;
  animation-duration:4s;
}
@-webkit-keyframes poschan{
  0% {left:-100px;}
  100%{top:0px; }
}
@keyframes{
  0%{left:-100px;}
100%{left: 0px;}
}*/
#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 0px;
  font-size: 16px;
  color: white;
}

.cover
{
height: 100%;
  font-weight: 800;
    background: url(bg6.jpg);
  font-family: Arial;   
}
.cover svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 670px;
    margin: 0 auto;
}



@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
.p1
{   background-image: url('bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding-bottom: 47px;
}
.p2
{   background-image: url('bg8.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.topbar
{
  height: 70px;
    text-align: center;
    padding-top: 30px;
    z-index: 2;
    margin-top: 0px;
}
.topbar img
{
  height: 70px;
  width: 300px;

}
.links a
{
    text-decoration: none;
    padding-right: 45px;
    padding-left: 45px; 
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
 }
.links
{
    text-align: center;
    padding-top: 15px;
    font-family: 'montserrat';
    padding-bottom: 0px;
    z-index: 2;
    opacity: 0.5;
    margin-top: 30px;
}
.links a:hover 
{
    padding-right: 45px;
    padding-left: 45px; 
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
    color: black;
}

#steps 
{
  text-align: center;
}
.top
    {
        background-image: url(meme.jpg);

    }
    #content,#roverchallengeseries
    {
      padding-top: 40px;
    }
    #content>div,#roverchallengeseries>div
    {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    #roverchallengeseries>div>div
    {
      margin: 0px 100px; 
    }

    .paratext
    {
    text-align: justify;
    font-size: 18px;
    margin-left:100px;
    margin-right: 100px;
    color: #34495E;
    /*color: white;*/
    /*border-color: white;*/
    padding: 10px;
    z-index: 1;
    font-family: 'montserrat';
      border-radius: 10px;
    }


    .button
    {
        background-color: #AB2540;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 30px auto;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 1px 1px #000000;
    }
    .button:hover
    {
        background-color: #D74764;
        transition: 0.2s ease-in;
    }

    .footer
    {
      background-color: #313131;
      text-align: center; 
    }

    #footerwrapper
    {
      margin: 0px auto;
      padding-top: 30px;
      width: 80%;
    }
    #footerwrapper > div
    {
      margin: 10px auto;
    display: inline-block;
    width: 30%;
    }
    #footerwrapper >div >div
    {   color: #eee;
      display: inline-block;
    }
    #footerwrapper > div> div>div
    {
      margin: 20px 0px;
      
    }
    #footerwrapper p
    {
      margin: 5px;
    }

    #organization img
    {
      width: 30%;
    }
    .sticky
    {
      position: fixed;
      top: 0px;
    }



    #steps > div
    {
      margin: 20px auto;

    }
    #steps > div > div
    {
      width: 20%;
      display: inline-block;
    }
    #steps img
    {
      width: 60px;
    }

    #sponsors
    {
      text-align: center;
      padding: 40px 0px;
      background-color: #373737; 
    }