html, body
{
    padding: 0px;
    margin: 0px;
}
.cover
{
height: 100%;
  font-weight: 800;
    background: url(bg6.jpg);
  font-family: Arial;   
}
.cover svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 670px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
.p1
{   background-image: url('bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding-bottom: 47px;
}
.p2
{   background-image: url('bg8.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.topbar
{
	height: 70px;
    text-align: center;
    padding-top: 30px;
    z-index: 2;
    margin-top: 0px;
}
.topbar img
{
	height: 70px;
	width: 300px;

}
.links a
{
    text-decoration: none;
    padding-right: 45px;
    padding-left: 45px; 
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
 }
.links
{
    text-align: center;
    padding-top: 15px;
    font-family: 'montserrat';
    padding-bottom: 0px;
    z-index: 2;
    opacity: 0.5;
    margin-top: 30px;
}
.links a:hover 
{
    padding-right: 45px;
    padding-left: 45px; 
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: grey;
    color: black;
}
.first
{
	display: inline-block;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:688px;
    max-width:100%;
    padding-top: 30px;
    padding-left:70px;
    padding-right:70px;
    margin: 0px;
    background-color: #201D28;
    scroll-behavior: smooth;
    font-family: 'montserrat';
    margin-left: 140px;
    margin-right: 140px;
    color: #D7D7D7;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 0px;
    z-index: 2;
    margin-top: 50px;
    border-radius: 20px;
    background: rgba(0,0,0,0.6);
}
.first p
{
    padding: 20px;
}
.second
{
    display: inline-block;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:688px;
    max-width:100%;
    padding-top: 30px;
    padding-left:70px;
    padding-right:70px;
    margin: 0px;
    background-color: #201D28;
    scroll-behavior: smooth;
    font-family: 'montserrat';
    margin-left: 140px;
    margin-right: 140px;
    color: #D7D7D7;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 0px;
    z-index: 2;
    margin-top: 50px;
    border-radius: 20px;
    background: rgba(0,0,0,0.6);
}
.second p
{
    padding: 20px;
}
.img1
{
    display: inline-block;
}
.img1 #im1
{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-left: 40px;
}
.img1 #im2
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 100px;
}
#menubar{
    background-color: #373737;
    position: fixed;
    width: 100%;
    transition: top 0.3s ease-in;
    display: block;
    top: 0px;
    display: none;
    background: rgba(0,0,0,0.5);
    transition: 0.3s ease-in;
    font-family: 'montserrat';
}
#menubar a {
    float: left;
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;

}
#menubar a:hover
{
    background-color: white;
    transition: 0.3s ease-in;
    color: #FF4500;
    background: rgba(0,0,0,0.6);
    border-width: 0px;
}
.image{
    padding: 0px;

}   
#logohead
{
    margin-left: 400px;
    margin-top: 100px;
    display: block;
}
.faqbg
{
    background: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 60vh;
    background-position: center;
    background-attachment: fixed;
}
.topfaq
{   
    margin-top: 0px;
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    margin-left: 70px;   
}
.faqcont1
{
    font-family: 'montserrat';
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 190px;
}
.faqcont1 table
{
    border-collapse: collapse;
}
.map
{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    left:700px;
    top:675px;
}
.faqhead h1
{
    padding: 0px;
    margin: 0%;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: white;
    top: 50px;
    position: relative;
    font-size: 90px;
    text-shadow: 4px 4px #509B24;
}
#main
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#log
{
    width: 250px;
    position: relative;
    left: 40%;
    top: 80px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 22;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  transition: 0.3s ease-in;
}

.one
{
    padding: 50px;
    position: relative;
    top: 130px;
    right: 60px;
    background-color: grey;
    background: rgba(0,0,0,0.6);
    width: 70%;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.one p
{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
    text-align: justify;
    color: #D8D99D;
}
#col1
{
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 120px;
    width: 16%;
    height: 50.6%;
    opacity: 0.8;
}
#col1 img
{
    width: 215px;
    height: 330px;
}
.two
{
    padding: 50px;
    position: relative;
    top: 170px;
    left: 60px;
    background-color: grey;
    background: rgba(0,0,0,0.6);
    width: 70%;
    height: 230px;
    margin: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.two p
{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
    text-align: justify;
    color: #D8D99D;
    position: relative;
    top: 40px;
}
#col2
{
    display: inline;
    position: absolute;
    left: 0px;
    top: 575px;
    bottom: 120px;
    width: 16%;
    height: 50.6%;
    opacity: 0.8;
}
#col2 img
{
    width: 215px;
    height: 330px;
}

.images
{
    display: inline-block;
}


.headim
{
    background-image: url(b1.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.headim h1
{
    padding: 0px;
    margin: 0%;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: white;
    top: 60px;
    position: relative;
    font-size: 70px;
    text-shadow: 2px 2px #ff0000;
}
#note
{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.but
{
    text-align: center;
}
.button
{
    background-color: #AB2540;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px #000000;
}
.button:hover
{
    background-color: #D74764;
    transition: 0.2s ease-in;
}
#reg h2 a
{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    color: #0CE874;
    font-size: 30px;
}
i 
{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right 
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#abt h3
{
    color: #00BCF2;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 25px;
}
#abt p
{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

#down
{ 
    margin-left: 100px;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.centered-container 
{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.link 
{
    color: #0CE874;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}

.link--arrowed
{
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 50px;
}
.link--arrowed .arrow-icon 
{
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
  transform: rotate(90deg);
}

.link--arrowed .arrow-icon--circle 
{
  -webkit-transition: stroke-dashoffset .3s ease;
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon 
{
  -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
          transform: rotate(90deg);
}

.link--arrowed:hover .arrow-icon--circle 
{
  stroke-dashoffset: 0;
}
.him
{
    background-image: url(bg.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.him h1
{
    padding: 0px;
    margin: 0%;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: white;
    top: 70px;
    position: relative;
    font-size: 70px;
    text-shadow: 2px 2px darkblue;
}
#resul img
{
    left: 7.5%;
    width: 1200px;
    border: solid;
    border-width: 2px;
    border-color: gray;
}
.im1 
{
  position: relative;
  width: 700px;
  display: inline-block;
  max-width: 300px;
  padding: 55px;
}
.im2 
{
  position: relative;
  width: 700px;
  display: inline-block;
  max-width: 300px;
   padding: 55px;
}
.im3 
{
  position: relative;
  display: inline-block;
  width: 700px;
  max-width: 300px;
  padding: 55px;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
}
.overlay {
  position: relative; 
  bottom: 70px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 340px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat';
}

.im1:hover .overlay
 {
  opacity: 1;
}
.im2:hover .overlay 
{
  opacity: 1;
}
.im3:hover .overlay 
{
  opacity: 1;
}
.fo
{
  background-image: url(foot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  bottom: 0px;
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: ;
}
.fo #con p
{
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
}
.fo #con h3
{
  color: #00BCF2;
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  font-size: 25px;
  margin-top: 100px;
}
.fo #con
{
  position: relative;
  top: 35px;
}
.rest table 
{
    border-collapse: collapse;
    width: 80%;
    position: relative;
    margin: 100px;
}

.rest th, td 
{
    text-align: center;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
}
.rest tr:nth-child(even)
{
  background-color: #f2f2f2
}
.rest th 
{
    background-color: #00A0EE;
    color: white;
}
.countdown
{
  width: 100%;
  background-image: url("mitbg.jpeg");
  max-height: 300px;
  background-size: cover;

}
.counter
{
  background:rgba(0,0,0,0.6);
}
