html,body
{
  margin: 0px;
  padding: 0px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.top
{
  opacity: 1;
  margin-top: 0px;
  font-family: 'montserrat';
  background-position: 0px 0px;
  height: 400px;
  background-size: cover;
}


.img1
{
    display: inline-block;
}

/* updated css from home page */
#menubar{
  height: 90px;
    background-color: #373737;
    /* position: relative;*/
    z-index: 200;
    width: 100%;
    color: #34495E;
    /*transition: top 0.3s ease-in;*/
    display: inline-block;

    opacity: 1;
   /*transition: 0.3s ease-in;*/
    font-family: 'montserrat';
    font-size: 15px;

}

#menubar a {
    float: left;
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;

}
#menubar a:hover{
    background-color: white;
    transition: 0.3s ease-in;
    color: #F63F41;
    background: rgba(0,0,0,0.2);
    border-width: 0px;
}




#content
  {
    padding-top: 0px;
  }
  #content>div
  {
    width: 80%;
    
  }

/*faq page*/

.topfaq
{   
    margin-top: 0px;
    font-family: 'montserrat', sans-serif;
    font-size: 25px;
    margin-left: 70px;   
}
.faqcont1
{
    font-family: 'montserrat';
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
    margin-top: 50px;

}

.faqcont1 > div
{
  width: 80%;
  margin: 0 auto;

}
.faqcont1 >div> div
{
    margin: 20px auto;

}
.faqcont1 table
{
    border-collapse: collapse;
}
#howtoreach
{

}
#howtoreach>div
{
width: 40%;
display: inline-block;
vertical-align: middle;
}
.map
{
    display: inline-block;
    
    margin-left: 10%; 
}
.faqhead h1
{
    padding: 0px;
    margin: 0%;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: white;
    top: 50px;
    position: relative;
    font-size: 90px;
    text-shadow: 4px 4px #509B24;
}
.faqhead
{
  height: 400px;
}

/* FAQ */

#main
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#log
{
    width: 250px;
    position: relative;
    left: 40%;
    top: 80px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 22;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  transition: 0.3s ease-in;
}

.one
{
    padding: 50px;
    position: relative;
    top: 130px;
    right: 60px;
    background-color: grey;
    background: rgba(0,0,0,0.6);
    width: 70%;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.one p
{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
    text-align: justify;
    color: #D8D99D;
}
#col1
{
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 120px;
    width: 16%;
    height: 50.6%;
    opacity: 0.8;
}
#col1 img
{
    width: 215px;
    height: 330px;
}
.two
{
    padding: 50px;
    position: relative;
    top: 170px;
    left: 60px;
    background-color: grey;
    background: rgba(0,0,0,0.6);
    width: 70%;
    height: 230px;
    margin: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.two p
{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px;
    text-align: justify;
    color: #D8D99D;
    position: relative;
    top: 40px;
}
#col2
{
    display: inline;
    position: absolute;
    left: 0px;
    top: 575px;
    bottom: 120px;
    width: 16%;
    height: 50.6%;
    opacity: 0.8;
}
#col2 img
{
    width: 215px;
    height: 330px;
}

.images
{
    display: inline-block;
}


.headim
{
    background-image: url(b1.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.headim h1
{
    padding: 0px;
    margin: 0%;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: white;
    top: 60px;
    position: relative;
    font-size: 70px;
    text-shadow: 2px 2px #ff0000;
}
#note
{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 10px auto
  }
#note p
{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.but
{
    text-align: center;
    margin: 20px auto;
}
.button
{
    background-color: #AB2540;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px #000000;
}
.button:hover
{
    background-color: #D74764;
    transition: 0.2s ease-in;
}
#reg h2 a
{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    color: #0CE874;
    font-size: 30px;
}
i 
{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right 
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#abt
{
  margin: 10px auto;
  padding-bottom: 20px;
}
#abt h3
{
    color: #00BCF2;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

#abt p
{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
    margin-right: 100px;
}

#down
{ 
    margin-left: 100px;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}
.centered-container 
{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.link 
{
    color: #0CE874;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  margin-left: 180px;
}

.link--arrowed
{
  display: inline-block;
  height: 2rem;
  line-height: 2rem;

}
.link--arrowed .arrow-icon 
{
  position: relative;
  top: -1px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
  transform: rotate(90deg);
}

.link--arrowed .arrow-icon--circle 
{
  -webkit-transition: stroke-dashoffset .3s ease;
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.link--arrowed:hover .arrow-icon 
{
  -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
          transform: rotate(90deg);
}

.link--arrowed:hover .arrow-icon--circle 
{
  stroke-dashoffset: 0;
}
.him
{
    background-image: url(bg.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.him h1
{
    padding: 0px;
    margin: 0%;
    text-align: center;
    font-family: 'Merienda One', cursive;
    color: white;
    top: 70px;
    position: relative;
    font-size: 70px;
    text-shadow: 2px 2px darkblue;
}
#resul img
{
    left: 7.5%;
    width: 1200px;
    border: solid;
    border-width: 2px;
    border-color: gray;
}
.im1 
{
  position: relative;
  width: 700px;
  display: inline-block;
  max-width: 300px;
  padding: 55px;
}
.im2 
{
  position: relative;
  width: 700px;
  display: inline-block;
  max-width: 300px;
   padding: 55px;
}
.im3 
{
  position: relative;
  display: inline-block;
  width: 700px;
  max-width: 300px;
  padding: 55px;
}

.overlay {
  position: relative; 
  bottom: 70px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 340px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat';
}

.im1:hover .overlay
 {
  opacity: 1;
}
.im2:hover .overlay 
{
  opacity: 1;
}
.im3:hover .overlay 
{
  opacity: 1;
}
.fo
{
  background-image: url(foot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  bottom: 0px;
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: ;
}
.fo #con p
{
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
}
.fo #con h3
{
  color: #00BCF2;
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  font-size: 25px;
  margin-top: 100px;
}
.fo #con
{
  position: relative;
  top: 35px;
}
.rest table 
{
    border-collapse: collapse;
    width: 80%;
    position: relative;
    margin: 100px;
}

.rest th, td 
{
    text-align: center;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
}
.rest tr:nth-child(even)
{
  background-color: #f2f2f2
}
.rest th 
{
    background-color: #00A0EE;
    color: white;
}


